body{
    margin: 0;
    padding: 0;

}
.card img {
    height: 35rem;
}
.datosCliente{
     color:aliceblue;
     background-color: black;
     margin-top: 5px;

}
#listado {
    background: url(img/cora.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
}